
.button__link{
  margin: 50px;
  color: #fff;
  background-color: #5e5373;
  box-shadow: 0 5px 0px #3c354a;
  text-decoration: none;
  display: inline-block;
  line-height: 60px;
  padding: 0px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 10px;
  top: 0;
  position: relative;

}
.button__link:hover{
  top: 2px;
  box-shadow: 0 3px 0px #3c354a;
  background-color: #18b5a4;
  transition-duration: 1s;
  transition-property: top,
  box-shadow,
  background-color;
}
.list-items{
  margin-left: 100px;
  margin-bottom: 100px;
}
.list-items__item {
  width: 100px;
  height: 100px;
  transform-origin: 0 0;
  transition: all 1s ease 0s;
}
.list-items__item:hover {
  transform: rotate(50deg);
  transition: all 2s ease 0s;
}

.menu{

}
ul {
  padding: 0;
}
.menu a {
  text-decoration: none;
}
.menu li {
  list-style: none;
  position: relative;
}
.menu__list{
  display: flex;
}

.menu__list>li {
  margin: 0px 10px 0px 0px;
}
.menu__list>li:hover .sub-menu__list {
  display: block;
}
.menu__link{
  color: #000;
}
.sub-menu__list {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 20px 0px 0px 0px;
  min-width: 200px;
}
.sub-menu__list>li:hover .sub-sun-menu__list{
  display: block;
}
.sub-menu__list>li{
  ackground-color: gray;
}
.sub-menu__link{
  color: #000;
  padding: 5px 10px;
  display: inline-block;
}
.sub-sun-menu__list{
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0px 0px 0px 5px;
  min-width: 200px;
}
.sub-sun-menu__list>li {
  background-color: #000;
}
.sub-sun-menu__link{
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
}

.wrapper {}

.content {
  margin: 50px;
}

.content__circle {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  left: 0;

  animation-name: circle-black;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes circle-black{
  0%{

  }
  100%{
    left: 100px;
    background-color: hotpink;
  }
}

.block {}

.block__row {
  display: flex;

  border: 20px solid #ece89d;
  margin: 0px 0px 20px 0px;
}

.blocl__column {
  border: 20px solid #5e5373;
}

.clock__item {
  background-color: #18b5a4;
  padding: 50px;
  font-size: 50px;
}
  
.timer-wrapper{
  min-width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: lightsteelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.timer::before{
  content: "";
  position: absolute;
  top:0;
  right:0;
  width: 50%;
  height: 100%;
  z-index: 3;
  background-color: lightsteelblue;
  animation: mask_left 10s steps(1, end) forwards;
}
.timer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 3;
  background-color: mediumpurple;
  animation: mask_right 10s steps(1, end) forwards;
}
.timer__line {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  animation: line 10s linear forwards;
  z-index: 2;
}
.timer__line::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: mediumpurple;
}
.timer__body {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  z-index: 4;
}

.timer__counter {
  animation: counter 10s steps(9, end) forwards;
}

.timer__counter span {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@keyframes counter{
  0%{

  }
  100%{
    transform: translate(0px, -900px);
  }
}
@keyframes line {
  0% {}

  100% {
    transform: rotate(360deg);
  }
}
@keyframes mask_left {
  0% {
    visibility: visible;
  }
  50%{

  }

  100% {
    visibility: hidden;
  }
}
@keyframes mask_right {
  0% {
    visibility: hidden;
  }

  50% {}

  100% {
    visibility: visible;
  }
}


.grid {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.grid__item {
  background-color: mediumspringgreen;
  border: 1px solid #000;
}
.grid__item_1{
  
}