body,
html {
	width: 100%;
	background: #F3EFA1;
	font-size: 16px;
  font-family: 'Istok Web', sans-serif;
  /*font-family: 'Rubik Mono One',sans-serif;*/
  font-weight: 400;
  color: #666CCD;
}
.wrapper{
  position: relative;
  overflow: hidden;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.bubbles{

}
.bubble-1{
  position: absolute;
  left: -5%;
  top: 20%;
  width: 30%;
  transform: matrix3d(0.99756, 0.06976, 0, 0, -0.06976, 0.99756, 0, 0, 0, 0, 1, 0, 0, 178.217, 0, 1);
}
.bubble-2{
    position: absolute;
    right: 10%;
    top: 2%;
    width: 10%;
    transform: matrix3d(0.99756, 0.06976, 0, 0, -0.06976, 0.99756, 0, 0, 0, 0, 1, 0, 0, 178.217, 0, 1);
    animation: bubble-static 3s ease alternate infinite;
}
.bubble-3 {
  position: absolute;
  left: 10%;
  top: 1%;
  width: 4%;
  transform: matrix3d(0.99756, 0.06976, 0, 0, -0.06976, 0.99756, 0, 0, 0, 0, 1, 0, 0, 178.217, 0, 1);

}

.text-dinamic {
  font-size: 30px;
}

.text-dinamic__bubble-1 {
  position: absolute;
  top: -40px;
  left: 100px;
  animation: text-dinamic 10s ease infinite;
}

.text-dinamic__bubble-2 {
  position: absolute;
  top: -40px;
  left: 400px;
  animation: text-dinamic 10s ease 3s infinite;
}

.text-dinamic__bubble-3 {
  position: absolute;
  top: -50px;
  left: 750px;
  animation: text-dinamic 10s ease 2s infinite;
}

.text-dinamic__bubble-4 {
  position: absolute;
  top: -10px;
  right: 450px;
  animation: text-dinamic 10s ease infinite;
}

.text-dinamic__bubble-5 {
  position: absolute;
  top: -50px;
  right: 750px;
  animation: text-dinamic 10s ease 1s infinite;
}

@keyframes text-dinamic {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(300px);
    opacity: 0;
  }
}

.bubbles-dinamic {}

.bubbles-dinamic__bubble-1 {
  position: absolute;
  top: -300px;
  left: 0;
  width: 4%;
  animation: bubble-dinamic 5s ease infinite;
}

.bubbles-dinamic__bubble-2 {
  position: absolute;
  top: -300px;
  right: 0;
  width: 4%;
  animation: bubble-dinamic 5s ease 2s infinite;
}

.bubbles-dinamic__bubble-3 {
  position: absolute;
  top: -300px;
  left: 10%;
  width: 10%;
  animation: bubble-dinamic 5s ease 1s infinite;
}

.bubbles-dinamic__bubble-4 {
  position: absolute;
  top: -300px;
  left: 20%;
  width: 7%;
  animation: bubble-dinamic 5s ease 2s infinite;
}

.bubbles-dinamic__bubble-5 {
  position: absolute;
  top: -300px;
  left: 80%;
  width: 14%;
  animation: bubble-dinamic 6s ease 3s infinite;
}
@keyframes bubble-dinamic {
  0% {
    transform: translateY(-300px);

  }
  100% {
    transform: translateY(2000px);
    opacity: 0;
  }
}
.top-info{
  font-family: 'Rubik Mono One', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 30;
}
.top-info__text{
  font-size: 150px;
  animation: wave 3s ease alternate infinite;
  text-align: center;
}

.person {
	margin: 0 auto;
  width: 800px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.person__info {
  margin-right: 32px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.person__contacts {
	/* добавьте ваш код  */
}
.person__details {
	/* добавьте ваш код  */
}
.avatar {
    background-image: url('avatar.jpg');
    background-size: cover;
    box-shadow: 0 0 20px 20px #F3EFA1 inset;
    border-radius: 5%;

    width: 300px;
    height: 300px;
	
}

.avatar__picture {

  
}
.contacts {
	
}

.contacts__name {
	font-size: 32px;
  font-weight: bold;
}
.contacts__role {
	font-size: 19.5px;
  margin-bottom: 32px;
  font-weight: bold;
}
.contacts__item {
	list-style-type: none;
}
.contacts__title {
	font-weight: bold;
}
.contacts__title:after {
	/* добавьте ваш код  */
  content: ":";

}
.contacts__link {
	color: gray;
}
.paragraph {
	margin-bottom: 16px;
}
.paragraph_last {
	margin-bottom: 48px;
}

@keyframes wave {
  0% {
    transform: translate(0px, 0px);
  }
  50%{
    transform: translate(10px, 15px);
  }
  100% {
    transform: translate(20px, 30px);
  }
}
@keyframes bubble-static {
  0% {
    opacity: 0.5;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}